header,body{
    margin: 0;
    padding: 0;
}
body{
    background-color: #141414;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*{
    color: white;
}
section{
    scroll-margin-top: 110px;

}
#home{
    scroll-margin-top: 100px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1E1E1E;
    top: 0;
    position: sticky;
    z-index: 1;
}
nav{
    font-size: 18px;
}
nav a{
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}
nav li{
    list-style: none;
    display: inline;
}
#icon h2{
    font-size: 24px;
    margin-left: 20px;
}
#social-media a{
    color: white;
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
    background-color: #1E1E1E;
    padding: 8px;
    border-radius: 50%;
    transition: background-color 0.3s, color 0.3s;
}
html{
    scroll-behavior: smooth;
}
.hero-home{
    position: relative;
    width: 100%;
    height: 630px;
}
.hero-home img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-text{
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);
    animation: moveIn 3s ease-in;
}
@keyframes moveIn{
    from{
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    to{
        opacity: 1;
        transform: translate(-50%, -50%);
    }
    
}
.hero-text h1{
    font-size: 70px;
    margin-bottom: 20px;
}
.hero-text h1 span{
    color: #8B5A2B;
}
.hero-text p{
    font-size: 24px;
    margin-bottom: 30px;
    color: #BFBFBF;
}
.hero-about{
    position: relative;
    width: 36%;
    height: 500px;
}
.hero-about img{
    object-fit: cover;
}
.hero-text-left{
    position: absolute;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: moveInLeft 3s ease-in;
}
.hero-text-right{
    position: absolute;
    top: 65%;
    right: -130%;
    transform: translate(50%, -50%);
}
.hero-text-right li{
    margin-bottom: 15px;
    text-decoration: none;
    list-style: none;
}
.hero-text-left h1{
    font-size: 40px;
    margin-bottom: 20px;
}
.hero-text-left p{
    font-size: 18px;
    margin-bottom: 20px;
}
.hero-text-right h3{
    margin-bottom: 0px;
}
