a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

a:hover {
    color: #FF5A00;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    height: 80px;
}

section {
    scroll-margin-top: 100px;
}

#home {
    scroll-margin-top: 140px;
}

#about {
    scroll-margin-top: 140px;
}

#skills {
    scroll-margin-top: 100px;
}

#projects {
    scroll-margin-top: 70px;
}

.nav-links a.active {
    color: #FF7A1A;
}

li {
    list-style: none;
    display: inline;
    margin-right: 15px;
    color: white;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0B0B0B;
}

header.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: #121212;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

div.logo {
    margin-left: 3rem;
    font-size: 20px;
    font-weight: bold;
}

nav {
    margin-right: 10rem;
}

.nav-links a {
    padding: 10px 18px;
    border-radius: 6px;
    text-decoration: none;
    color: #b5b5b5;
    transition: background 0.3s, color 0.3s;
}

.nav-links a.active {
    background-color: #ff5a00;
    color: #ffffff;
}

.nav-links a:hover {
    background-color: #1e1e1e;
    color: #ffffff;
}

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: #0b0b0b;
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    margin: 100px auto;
    gap: 60px;
    color: #ffffff;
}

.home-text h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.home-text h3 {
    color: #ff5a00;
    font-weight: 500;
    margin-bottom: 20px;
}

.home-text p {
    color: #ffffff;
    line-height: 1.6;
    max-width: 500px;
}

.home-image img {
    width: 400px;
    height: 520px;
    color: #ffffff;
    object-fit: cover;
    border-radius: 5%;
    border: 4px solid #ff5a00;
}

.btn-cv {
    display: inline-block;
    margin-top: 24px;
    padding: 12px 26px;
    background-color: #ff5a00;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    border-radius: 6px;
    transition: background-color 0.3s, transform 0.2s;
}

.btn-cv:hover {
    background-color: #0b0b0b;
    transform: translateY(-2px);
}

.about {
    padding: 120px 0;
    background: #0b0b0b;
    color: #ffffff;
}

.about-container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.about-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    text-align: center;
}

.about-title {
    font-size: 34px;
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: 600;
}

.about-text {
    color: #ffffff;
    line-height: 1.8;
    font-size: 16px;
    margin-bottom: 18px;
    max-width: 850px;
}

.about-info {
    margin-top: 28px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
    background: #161616;
    border: 1px solid #222222;
    border-radius: 12px;
    padding: 18px;
}

.info-item {
    display: flex;
    gap: 8px;
    align-items: center;
    flex-wrap: wrap;
}

.info-label {
    color: #8a8a8a;
    font-size: 14px;
}

.info-value {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
}

.skills {
    padding: 120px 0;
    background: #0b0b0b;
    color: #ffffff;
}

.skills-container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

.skills-title {
    font-size: 34px;
    margin-bottom: 40px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.skill-card {
    background: #161616;
    border: 1px solid #222222;
    border-radius: 14px;
    padding: 24px;
}

.skill-card h3 {
    margin-bottom: 16px;
    font-size: 20px;
    color: #ff5a00;
}

.skill-card ul {
    list-style: none;
    padding: 0;
}

.skill-card li {
    color: #ffffff;
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 1.6;
}

.skill-card li span {
    color: #ffffff;
    font-size: 13px;
}

.skills-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;

}

.skills-list li {
    position: relative;
    display: flex;
    padding-left: 0;
    margin-bottom: 12px;
    color: #ffffff;
    font-size: 15px;
    line-height: 1.6;

}

.skills-list li::before {
    content: "•";
    display: flex;
    text-align: center;
    color: #ff5a00;
    font-size: 18px;
    line-height: 1;
    margin-bottom: 4px;
    margin-right: 10px;

}

.skills-list li span {
    color: #8a8a8a;
    font-size: 13px;
    margin-left: 6px;

}

.projects {
    padding: 120px 0;
    background: #0b0b0b;
    color: #ffffff;
}

.projects-container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

.projects-title {
    font-size: 34px;
    margin-bottom: 40px;
}

.project-card {
    background: #161616;
    border: 1px solid #222222;
    border-radius: 14px;
    padding: 26px;
    margin-bottom: 24px;
}

.project-card h3 {
    font-size: 22px;
    margin-bottom: 6px;
}

.project-type {
    display: block;
    color: #ff5a00;
    font-size: 14px;
    margin-bottom: 16px;
}

.project-points {
    list-style: none;
    padding: 0;
    margin: 0;
}

.project-points li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    color: #ffffff;
    line-height: 1.6;
}

.project-points li::before {
    content: "●";
    position: absolute;
    left: 0;
    color: #ff5a00;
    font-size: 12px;
}

.contact {
    padding: 120px 0;
    background: #0b0b0b;
    color: #ffffff;
}

.contact-container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.contact-title {
    font-size: 34px;
    margin-bottom: 20px;
}

.contact-text {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.contact-info p {
    text-align: center;
    margin-bottom: 12px;
    font-size: 15px;
    color: #ffffff;
}

.contact-info strong {
    color: #ff5a00;
}
.footer {
    background-color: #121212;
    color: #b5b5b5;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    margin-top: 40px;
}
/* Responsive Styles */